os: linux
dist: bionic
language: node_js
node_js:
- '12'
- '14'

cache:
  directories:
  - "$HOME/.cache"
  - "$HOME/.npm"

addons:
  apt:
    packages:
    - libgnome-keyring-dev
    - icnsutils
    - xvfb

install:
- npm ci

before_script:
- export DISPLAY=':99.0'
- Xvfb :99 -screen 0 1024x600x24 > /dev/null 2>&1 &

script:
- npm run build
- npm run test

deploy:
  provider: releases
  token:
    secure: J49WAQALh8sa7Gc+t2xKzGGRfIzvUO7Hlh4PuJK4oK1zCMXIDEoku2rjcLNo1ni/ZR6e9pBmJ19Pe9sPihqAYmhC2Wagg6Ql/FTbc7nCqIBj8c7yow5AjTJgt+g+J5sxIlCIlhtP0H00LeOy2S/eV3ZuPeuvjv6mxo/I0uR7GvwU9o0ggcNYZM40g+OddR/f1DowuwODYdWHaJaRHicMG0FpR+AMH8boSsNDLRtHTzHJKRh1rBh7W2sGLQyfbp83QVXZiYBO0pZtxGssaoVCUpH6f2wakB7MXO8H5oITkXdfxAtv5Gb9y1wzeMl16zSFyvHY20PCod6nnGsqudtcQpZziZqQ531arcAnE/uyCVpkeKFWDlrAyAQgou/fEQENXGZs2EsDKh1/wfGE4oe5QWlzctLsn5i+myL2ZN+LqJ56ypzSqSh/8wqGMxUj+jTUce/PT//fOjfd8szyt92JN4rs6JQmDh4BZVVF1vDj/8zbmwb8erZLHWaWAD3MelmMtoou3Gie1l2XxCJuRvYtRvHgb7nef02/2Mkel42etK75SfBuOjRtKy/86I/A6qluRU788dHMTneldELHWu5Xj/IEsR+41m7j0P6HRlb5f6+jDF2S07B7xBjY6gmlXk+8CvuCd5aJeZAk81I13WTncjum/9TaMWg3yvhUwdIkaA8=
  file: dist_electron/hero-dashboard.AppImage
  skip_cleanup: true
  on:
    repo: tue-robotics/hero-dashboard
    tags: true
    all_branches: true
    node_js: '14'
